{% extends "Master/Master.twig" %}

{% block title %}Add New Project{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-project"></i>Add New Project<br/>
				<small>Write description here how to add new project</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("projects") }}">Projects</a></li>
		<li>Add New Project</li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<div class="block">
				<div class="block-title">
					<h2><strong>Project Info</strong></h2>
				</div>
				{% include 'Projects/Partials/ProjectForm.twig' %}
			</div>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
{% endblock %}