{% extends "Master/Master.twig" %}

{% block title %}Edit Project{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-project"></i>Edit Project<br/>
                <small>Write description here how to edit project</small>
            </h1>
        </div>
    </div>

    <ul class="breadcrumb breadcrumb-top">
        <li><a href="{{ Router.Create("projects") }}">Projects</a></li>
        <li>Edit Project</li>
    </ul>

    <div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2><strong>Project Info</strong></h2>
            </div>
            {% include 'Projects/Partials/ProjectForm.twig' %}
        </div>
    </div>
{% endblock %}