{% extends "Master/Master.twig" %}

{% block title %}Projects{% endblock %}


{% block head %}

{% endblock %}


{% block content %}

	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-project"></i>List of Projects<br/>
				<small>Write description here how to use this page</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("projects") }}">Projects</a></li>
		<li>List</li>
	</ul>

	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<a href="{{ Router.Create("add-project") }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<h2><strong>Projects</strong></h2>
		</div>
		<div class="table-responsive">
			{% if model.Projects | length %}
				<table id="general-table" class="table table-striped table-vcenter">
					<thead>
						<tr>
							<th>Title</th>
							<th>Short Description</th>
							<th>Url</th>

							<th style="width: 150px;" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for project in model.Projects %}
							<tr>
								<td>{{ project.Title }}</td>
								<td>{{ project.Description }}</td>
								<td>{{ project.Url }}</td>

								<td class="text-center">
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("edit-project", {projectId: project.ProjectId}) }}"
										   class="btn btn-primary"><i class="fa fa-pencil"></i></a>
									</div>
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("delete-project", {projectId: project.ProjectId}) }}"
										   class="confirm btn btn-danger"><i class="fa fa-times"></i></a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
	
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}