.iniAnim1 {
    opacity: 0;
    transform: rotateY(150deg);
}

.iniAnim2 {
    transform: scale3d(0.8,0.8,0.8);
    opacity: 0;
}

.iniAnim3 {
    transform:rotateX(90deg);
    opacity: 0;
}

.iniAnim4 {
    transform: scale3d(0.0,1,1);
    opacity: 0;
}

.iniAnim5 {
    transform: scale3d(1,0.0,1);
    opacity: 0;
}

.iniAnim6 {
    width: 0;
    padding: 0 !important;
}

.loadAnim1 {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: rotateY(0deg);
    opacity: 1;
}

.loadAnim2 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.loadAnim3 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform:rotateX(0deg);
    opacity: 1;
}

.loadAnim4 {
    transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.loadAnim5 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.loadAnim6 {
    animation-name: visible;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
    height: 100px;
}

@-webkit-keyframes visible {
    0% {
        width: 0;
        height: 10px;
    }
    25% {
        width: 50%;
        height: 10px;
    }
    50% {
        width: 100%;
        height: 10px;
    }
    75% {
        width: 100%;
        height: 10px;
    }
    100% {
        width: 100%;
        height: 100px;
    }

}

@-webkit-keyframes loader {
    0% {
        width: 0;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 100%;
    }

}