@media screen and (min-width: 320px) and (max-width: 440px) {

    header.main-header  h1 {
        font-size: 28px;
    }

    .content-right {
        padding-left: 15px !important;
    }

    .showcase-post:nth-child(odd) .showcase-content {
        bottom: 0;
        top: auto;
    }

    .showcase-post:nth-child(even) .showcase-contentcontent {
        bottom: 0;
        top: auto;
    }

    .showcase-post:nth-child(odd) figure {
        top: 0;
        bottom: auto;
    }

    .showcase-post:nth-child(even) figure {
        top: 0;
        bottom: auto;
    }

}

@media screen and (min-width: 440px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {



}

@media screen and (min-width: 1024px) and (max-width: 1050px)  {

}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}