@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

html, body {
    width: 100%;
    height: 0;
}

body {
    background: #eee;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

body.cv {
    background-color: #c0e3e7;
    background-image: url(../media/graphics/texture-shapes-bg2.png);
}

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}*/

main {
    flex: 1 0 auto;
    opacity: 0;
}

/*********** Text *********/

p {
    font-size: 16px;
}

h2.section-title {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: #222;
    margin-top: 0;
}

h2.section-title:after {
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
    background-size: cover;
    content: " ";
    width: 50%;
    height: 10px;
    margin-top: 5px;
    display: block;
    background-color: #d9476a;
}

h3.info-title {
    font-weight: 900;
    text-transform: lowercase;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 0;
}

/*********** Classes *********/

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cover .valign-wrapper {
    height: 100%;
}

.content-left {
    padding-right: 40px !important;
    border-right: 1px solid #eee;
}

.content-right {
    padding-left: 40px !important;
}

.row {
    margin-bottom: 0;
}

/*********** Buttons *********/

.btn {
    border-radius: 3em;
}

.btn-main {
    background-color: #d9476a;
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
    background-size: cover;
}

.btn.btn-main:hover {
    background-color: #5256af;
}

/*********** Forms *********/

/*********** Navigation *********/

nav.navbar.navbar-default {
    background: #ffffff;
    box-shadow: none;
}

nav ul a {
    color: #222;
    font-weight: 400;
}

nav .brand-logo img {
    height: 50px;
    margin-top: 5px;
}

nav ul a.btn {
    margin-left: 0;
}

/*********** Header *********/

header.main-header {
    width: 100%;
    height: 600px;
    margin-top: 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.parallax-container {
    height: 600px;
}

header.main-header h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

header.main-header form {
    background: rgba(0, 0, 0, 0.55);
    padding: 40px;
}

header.main-header input {
    margin: 0;
    border-color: #fff;
    color: #fff;
}

header.main-header .white h1 {
    font-weight: 200;
    text-transform: uppercase;
}

header.main-header .white h1 span {
    font-weight: 900;
}

.cover.white {
    background-image: url(../media/graphics/cubes.png);
    padding-bottom: 100px;
}

header.main-header .btn {
    width: 230px;
}

p.landing-section-subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #888;
    margin-top: 0;
}

p.landing-section-text {
    font-weight: 500;
    margin-bottom: 40px;
}

/*********** Sections *********/

section {
    padding: 80px 0;
    background-attachment: fixed;
}

.action-section {
    padding: 50px 0;
    background-color: #d9476a;
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
}

.cover .action-section {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
}

section#showcase {
    background-image: url(../media/graphics/texture-shapes-bg2.png);
}

section#team p a {
    font-weight: 500;
    color: #222;
}

section#featured {
    background-color: #eee;
    padding: 0;
}

section#skills {
    background-color: #eee;
}

section#skills h2 {
    margin-top: 0;
}

section#team .col {
    margin-bottom: 40px;
}

section#team img.circle {
    width: 160px;
}

section#team {
    background-image: url(../media/graphics/servbg3.png);
}

/*section#team .row:nth-of-type(2) .col:nth-of-type(1) img.circle,
section#team .row:nth-of-type(2) .col:nth-of-type(2) img.circle,
section#team .row:nth-of-type(2) .col:nth-of-type(3) img.circle {
    margin-left: -60px;
}

section#team .row:nth-of-type(3) .col:nth-of-type(1) img.circle,
section#team .row:nth-of-type(3) .col:nth-of-type(2) img.circle,
section#team .row:nth-of-type(3) .col:nth-of-type(3) img.circle {
    margin-left: 60px;
}*/

/*********** services *********/

.service h3 {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.service p {
    color: #8c9293;
    position: relative;
    margin: 0;
    padding-bottom: 30px;
    font-size: 14px;
}

.service i {
    width: 50px;
    height: 50px;
    color: #fff;
    background: #b42543;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.service p:after {
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
    background-size: cover;
    content: " ";
    width: 30%;
    height: 6px;
    display: block;
    background-color: #d9476a;
    margin-top: 30px;
}

/*********** showcase *********/

section#showcase .row .col {
    padding: 0;
}

.showcase-post {
    height: 500px;
    background-color: #633d8e;
    background-image: url(../media/graphics/bgt1o.png);
    /* background-position: center; */
    position: relative;
    padding: 0;
    display: block;
}

/*.row:nth-of-type(even) .showcase-post {
    background-color: #8f224c;
}

.row:nth-of-type(odd) .showcase-post {
    background-color: #633d8e;
}*/

.showcase-post:nth-child(odd) .showcase-content {
    bottom: 0;
}

.showcase-post:nth-child(even) .showcase-content {
    top: 0;
}

.showcase-post:nth-child(odd) figure {
    top: 0;
}

.showcase-post:nth-child(even) figure {
    bottom: 0;
}

.showcase-content {
    position: absolute;
    width: 100%;
    height: 250px;
    padding: 45px 40px;
    text-align: left;
}

.showcase-content span.label.label-light,
.showcase-content span.label.label-dark {
    padding: 4px 8px;
    font-weight: 700;
    font-size: 16px;
}

.showcase-content h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.showcase-content h5:after {
    width: 0;
    margin-top: 5px;
    height: 3px;
    display: block;
    opacity: 0;
    background: #fff;
    content: " ";
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.showcase-post:hover .showcase-content h5:after {
    width: 80px;
    opacity: 1;
}

.showcase-content p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.showcase-content p a {
    color: #bebdbd;
    font-weight: 700;
    font-size: 14px;
}

.showcase-post figure {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background: #fff;
    margin: 0;
}

.showcase-post figure img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1.8, 1.8, 1);
}

.showcase-post:hover img {
    opacity: 1;
    transform: scale3d(1.9, 1.9, 1);
}

.showcase-content .btn {
    font-weight: 700;
    font-size: 14px;
    text-transform: lowercase;
    height: 30px;
    line-height: 30px;
}

/*********** Footer *********/

footer.page-footer {
    padding: 0;
}

/*********** Modals *********/

.modal.modal-sm {
    width: 420px;
}

.modal h4 {
    font-weight: 900;
    padding: 10px;
    border-bottom: 3px solid #fff;
}

/*********** Slider *********/

.slider-slick .row {
    margin: 0;
    padding: 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
    opacity: 1 !important;
    color: #c72a41 !important;
}

.slick-next {
    right: -30px !important;
}

.slick-prev {
    left: -55px !important;
}

/*********** Slider *********/

.material-tooltip {
    background-color: #d92d41 !important;
}

.material-tooltip .backdrop {
    background-image: url(../media/graphics/bgt1o.png) !important;
    background-position: 0px 19px !important;
    background-size: cover !important;
    background-color: #d92d41 !important;
}

/*********** Preloader *********/

.preloader-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
    z-index: 1039;
}

.preloader-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
}

.preloader-top .action-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-bottom .action-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-top.open {
    height: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}

.preloader-bottom.open {
    height: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}

main.loaded {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}
