{% extends "Master/Master.twig" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}


{% block content %}

	<div class="parallax-container">
		<div class="parallax"><img src="{{ model.Project.GetImageUrl() }}"></div>
	</div>
	<div class="container">

		<div class="card">
			<span class="card-title">{{ model.Project.Title }}</span>
			<div class="card-content">
				<p>{{ model.Project.Description }}</p>
			</div>
		</div>

	</div>


{% endblock %}