{% extends "Master/Master.twig" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
	<main>

		<header class="main-header">
			<div class="cover white ">
				<div class="valign-wrapper">
					<div class="container valign">
						<div class="row">
							<div class="col s12 l6 offset-l2">
								<h1 class="iniAnim5">
									<span>Welcome</span>
								</h1>
								<p class="landing-section-subtitle iniAnim5">First to introduce ourselves</p>
								<p class="landing-section-text iniAnim5">
									We are Ubrium Galactic a creative international web design & development agency,
									based
									in USA
									and Europe.
								</p>
								<a href="#start-modal"
								   data-target="start-modal"
								   class="waves-effect waves-light btn black iniAnim2">Find out more</a>
								<span class="chip iniAnim5"><i class="fa fa-arrow-down"></i> or just scroll down</span>
							</div>
						</div>
					</div>
				</div>
				<div class="action-section iniAnim6"></div>
			</div>
		</header>

		<section id="featured">
			<div class="parallax-container iniAnim2">
				<div class="main-header featured-banner parallax">
					<img src="Theme/media/workcraft-bg.jpg" alt="">
					<div class="cover">
						<div class="valign-wrapper">
							<div class="container valign">
								<div class="row">
									<div class="col s12 l6 offset-l2">
										<span class="chip orange white-text">Featured</span>
										<br>
										<br>
										<h1 class="white-text">
											WorkCraft<span class="red-text text-darken-1">.</span>co
										</h1>
										<p class="white-text">
											Workcraft is free to use cv/portfolio creation app. Here you can build your
											professional web presence and help propel your career in style!
										</p>
										<br>
										<a class="action-btn" href="#">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="skills" class="scrollspy">
			<div class="container">
				<div class="row">
					<div class="col s12 l6 ">
						<h2 class="section-title iniAnim2">Skills & Services</h2>
						<p class="landing-section-subtitle iniAnim2">We are skilled in technologies like PHP, NodeJS,
							C#,
							MySQL, MongoDB, HTML5, CSS3, Angular</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col s12 l12 ">
						<div class="row">
							<div class="col s12 m6 l3 service iniAnim4">
								<i class="fa fa-cubes"></i>
								<h3>UI/UX Design</h3>
								<p>We are skilled in technologies like PHP, NodeJS, C#, MySQL, MongoDB, HTML5, CSS3,
									Angular</p>
							</div>

							<div class="col s12 m6 l3 service iniAnim5">
								<i class="fa fa-cube"></i>
								<h3>Web Development</h3>
								<p>We are skilled in technologies like PHP, NodeJS, C#, MySQL, MongoDB, HTML5, CSS3,
									Angular</p>
							</div>

							<div class="col s12 m6 l3 service iniAnim4">
								<i class="fa fa-database"></i>
								<h3>API Integration</h3>
								<p>We are skilled in technologies like PHP, NodeJS, C#, MySQL, MongoDB, HTML5, CSS3,
									Angular</p>
							</div>

							<div class="col s12 m6 l3 service iniAnim5">
								<i class="fa fa-mobile"></i>
								<h3>App Development</h3>
								<p>We are skilled in technologies like PHP, NodeJS, C#, MySQL, MongoDB, HTML5, CSS3,
									Angular</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="showcase" class="scrollspy">
			<div class="container">
				<div class="row">
					<div class="col s12 l6">
						<h2 class="section-title">Showcase</h2>
						<p class="landing-section-subtitle iniAnim5">
							We have developed and designed numerous projects for our clients from all over the world.
						</p>
					</div>
				</div>

				<div class="showcase-row">
					{% if model.Projects | length %}
						{% for project in model.Projects %}

							<div class="card showcase-post">
								<div class="card-image">
									<img src="{{ project.GetImageUrl() }}" alt="Gynny feature image">
								</div>
								<div class="card-content">
									<a href="{{ Router.Create("portfolio", {projectId: project.ProjectId}) }} " class="action-btn">{{ project.Title }}</a>
									<p>{{ project.Subtitle }}</p>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</section>

		<section id="team" class="scrollspy">
			<div class="container">
				<div class="row">
					<div class="col s12 l6">
						<h2 class="section-title iniAnim2">The Team</h2>
						<p class="landing-section-subtitle iniAnim2">Professionals that will take care of your
							project</p>
					</div>
				</div>
				<div class="row center-align">

					<div class="col s6 l2 iniAnim4">
						<img src="Theme/media/user/laza.jpg" alt="" class="circle tooltipped" data-position="bottom"
							 data-delay="50"
							 data-tooltip="Lazar Stanojlovic">
					</div>
					<div class="col s6 l2 iniAnim4">
						<img src="Theme/media/user/stojken.jpg" alt="" class="circle tooltipped" data-position="bottom"
							 data-delay="50"
							 data-tooltip="Milos Stojkovic">
					</div>
					<div class="col s6 l2 iniAnim4">
						<img src="Theme/media/user/piza.jpg" alt="" class="circle tooltipped" data-position="bottom"
							 data-delay="50"
							 data-tooltip="Mihajlo Ljubenovic">
					</div>
				</div>
				<div class="row center-align">

				</div>
			</div>
		</section>

		<div class="parallax-container">
			<div class="main-header outro-banner parallax">
				<img src="Theme/media/9.jpg" alt="">
				<div class="cover">
					<div class="valign-wrapper">
						<div class="container valign">
							<div class="row">
								<div class="col s12 l8 offset-l2">
									<h1 class="white-text">
										Don't do it alone<span class="red-text text-darken-1">.</span><br> Let's Work
										Together<span class="orange-text">.</span>
									</h1>
									<br>
									<br>
									<a class="action-btn" href="#">Contact Us!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="action-section"></div>

	</main>


	<footer class="page-footer grey darken-4">

		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col s6">
						© 2017 Ubrium Galactic LLC
					</div>
					<div class="col s6 right-align">
						<!--<img src="media/graphics/uglogonewrain.png" alt="" style="height: 30px">-->
					</div>
				</div>

			</div>
		</div>
	</footer>

	<div class="preloader-top">
		<div class="action-section"></div>
	</div>
	<div class="preloader-bottom">
		<div class="action-section"></div>
	</div>
{% endblock %}