<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<base href="{{ constant('Config::baseurl') }}"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %} - Ubrium Galactic Softwate Company</title>
		<meta name="description"
			  content="Object-oriented, MVC, PHP Framework">
		<meta name="keywords" content="object oriented,mvc,php,framework"/>
		<meta name="author" content="Ubrium Galactic LLC"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block og_meta %}{% endblock %}

		<link rel="shortcut icon" href="" type="image/x-icon">

		<!-- meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- meta end -->

		<!-- css -->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="Theme/css/materialize.min.css"/>
		<link type="text/css" rel="stylesheet" href="Theme/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="Theme/css/animations.css"/>
		<link type="text/css" rel="stylesheet" href="Theme/css/responsive.css"/>
		<link rel="stylesheet" href="Theme/css/fontawesome/css/font-awesome.min.css"/>

		<link rel="stylesheet" href="Theme/plugins/slick-1.6.0/slick/slick.css"/>
		<link rel="stylesheet" href="Theme/plugins/slick-1.6.0/slick/slick-theme.css"/>
		<!-- css end -->

		{% block head_css %}
		{% endblock %}
	</head>
	<body class=white>

		<nav class="navbar navbar-default">

			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">
					<img src="Theme/media/graphics/uglogonewblack2.png" alt="Logo">
				</a>

				<ul class="right hide-on-med-and-down">
					<li><a href="#skills">Skills</a></li>
					<li><a href="#showcase">Showcase</a></li>
					<li><a href="#team">Team</a></li>
					<li>
						<a class="action-btn"
						   href="#start-modal" data-target="start-modal">
							Contact Us
						</a>
					</li>
					<li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Find us on Facebook">
						<a href="#"><i class="fa fa-facebook"></i></a></li>
					<li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Find us on Twitter">
						<a href="#"><i class="fa fa-twitter"></i></a></li>
					<li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Find us on Instagram">
						<a href="#"><i class="fa fa-instagram"></i></a></li>

				</ul>
			</div>

		</nav>


		{% block content %}

		{% endblock %}

		<!-- Javascript -->
		<script src="Theme/js/jquery.min.js"></script>
		<script src="Theme/js/materialize.js"></script>
		<script src="Theme/js/jquery.waypoints.min.js"></script>
		<script src="Theme/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script>
		<script src="Theme/plugins/scroll-speed.js"></script>
		<script src="Theme/plugins/bower_components/jquery.kinetic/jquery.kinetic.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {

				$(".preloader-top").addClass('open');
				$(".preloader-bottom").addClass('open');
				$("main").addClass('loaded');

				$('.tooltipped').tooltip({delay: 50});
				$('.scrollspy').scrollSpy();

				/* waypoints */

				$('.iniAnim1')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim1')
						}
					}, {
						offset: '90%'
					});

				$('.iniAnim2')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim2')
						}
					}, {
						offset: '90%'
					});

				$('.iniAnim3')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim3')
						}
					}, {
						offset: '90%'
					});

				$('.iniAnim4')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim4')
						}
					}, {
						offset: '90%'
					});

				$('.iniAnim5')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim5')
						}
					}, {
						offset: '90%'
					});

				$('.iniAnim6')
					.waypoint(function (direction) {
						if (direction === 'down') {
							$(this.element).addClass('loadAnim6')
						}
					}, {
						offset: '90%'
					});
			});

			$(".open-menu").sideNav();
			$('.parallax').parallax();
			$('.modal').modal();

			$(function () {

				// Custom Easing
				jQuery.scrollSpeed(100, 800, 'easeOutCubic');

			});

			$(function () {
				$(".showcase-row").mousewheel(function (event, delta) {
					this.scrollLeft -= (delta * 30);
					this.scrollRight -= (delta * 30);
					event.preventDefault();
				});
			});

			$('.showcase-row').kinetic({
				filterTarget: function (target, e) {
					if (!/down|start/.test(e.type)) {
						return !(/area|a|input/i.test(target.tagName));
					}
				}
			});
			$(document).ready(function(){
				$('.parallax').parallax();
			});
		</script>

		{% block footer_scripts %}

		{% endblock %}

		{% block help_script %}
		{% endblock %}
	</body>
</html>