/*
  Flaticon icon font: Flaticon
  Creation date: 16/10/2016 02:13
  */

@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.eot");
    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
}

.flaticon-activities:before {
    content: "\f100";
}

.flaticon-behance-logo-button:before {
    content: "\f101";
}

.flaticon-briefcase:before {
    content: "\f102";
}

.flaticon-curriculum:before {
    content: "\f103";
}

.flaticon-design-skills:before {
    content: "\f104";
}

.flaticon-download-arrow:before {
    content: "\f105";
}

.flaticon-dribble-logo-button:before {
    content: "\f106";
}

.flaticon-email:before {
    content: "\f107";
}

.flaticon-email-1:before {
    content: "\f108";
}

.flaticon-error:before {
    content: "\f109";
}

.flaticon-facebook-logo-button:before {
    content: "\f10a";
}

.flaticon-instagram-logo:before {
    content: "\f10b";
}

.flaticon-language:before {
    content: "\f10c";
}

.flaticon-linkedin-logo-button:before {
    content: "\f10d";
}

.flaticon-mail:before {
    content: "\f10e";
}

.flaticon-map-location:before {
    content: "\f10f";
}

.flaticon-mortarboard:before {
    content: "\f110";
}

.flaticon-multimedia:before {
    content: "\f111";
}

.flaticon-phone-call:before {
    content: "\f112";
}

.flaticon-plus:before {
    content: "\f113";
}

.flaticon-quill:before {
    content: "\f114";
}

.flaticon-right-quote:before {
    content: "\f115";
}

.flaticon-suitcase:before {
    content: "\f116";
}

.flaticon-twitter-logo-button:before {
    content: "\f117";
}

.flaticon-user:before {
    content: "\f118";
}

.flaticon-youtube-symbol:before {
    content: "\f119";
}