// Color variables (appears count calculates by raw css)
@color0: #4eae89; // Appears 13 times
@color1: #222222; // Appears 12 times
@color2: #ffffff; // Appears 12 times
@color3: #88a9cd; // Appears 5 times
@color4: #eeeeee; // Appears 3 times
@color5: #3b5998; // Appears 3 times
@color6: #dddddd; // Appears 2 times
@color7: #838383; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width4: 60px; // Appears 2 times
@width5: 100%; // Appears 6 times

// Height variables (appears count calculates by raw css)
@height0: 600px; // Appears 2 times
@height4: 100%; // Appears 2 times

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic-ext,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,200,300,400,500,700,900&subset=cyrillic-ext,latin-ext');
html, body {
  height: 0;
  width: @width5;
}

body {
  background: @color4;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body.cv {
  background-color: #c0e3e7;
  background-image: url(../media/graphics/texture-shapes-bg2.png);
}

main {
  flex: 1 0 auto;
}

p {
  font-size: 16px;
}

h2.section-title {
  display: inline-block;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

h3.info-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0;
  padding: 5px;
  text-transform: lowercase;
}

p.landing-section-subtitle {
  color: #888888;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 60px;
}

.cover {
  background-color: rgba(0, 0, 0, 0.4);
  height: @height4;
  position: absolute;
  width: @width5;
  .valign-wrapper {
    height: @height4;
  }
}

.content-left {
  border-right: 1px solid @color4;
  padding-right: 40px !important;
}

.content-right {
  padding-left: 40px !important;
}

.row {
  margin-bottom: 0;
}

.btn {
  border-radius: 3em;
}

.btn-green {
  background-color: @color0 !important;
  &:hover {
    background-color: @color0 !important;
  }
}

.btn-blue {
  background-color: @color3 !important;
  &:hover {
    background-color: @color3 !important;
  }
}

.btn-default {
  background-color: @color6;
  color: @color1;
}

.btn-dark {
  background-color: @color1 !important;
  color: @color2 !important;
  &:hover {
    background-color: @color1 !important;
    color: @color2 !important;
  }
}

.btn-fb {
  background-color: @color5;
  &:hover {
    background-color: @color5 !important;
  }
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: inherit;
}

nav.navbar.navbar-default {
  background: @color2;
  box-shadow: none;
}

nav.navbar.navbar-cv {
  background: none;
  box-shadow: none;
}

li.ubrium-link {
  bottom: 60px;
  position: absolute;
  text-align: center;
  width: @width5;
  img {
    height: 30px;
  }
}

#main-menu {
  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    span {
      color: @color0;
      font-weight: 700;
    }
  }
  p {
    color: #696969;
    font-size: 15px;
    line-height: 16px;
    margin: 20px 0 30px;
    span {
      color: @color1;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.menu-info {
  padding: 20px;
  text-align: center;
}

#main-menu.side-nav {
  li > a > i {
    color: inherit;
    float: none;
    margin: 0;
  }
}

#wcraft-menu {
  margin: 10px 10px 0;
  img {
    margin-left: -2px;
    width: @width5;
  }
}

nav {
  ul {
    a {
      color: @color1;
      font-weight: 700;
    }
    li.action {
      a {
        background: @color0;
        color: @color2;
      }
    }
    li.blue {
      a {
        background: @color3;
        color: @color2;
      }
    }
    a.btn {
      margin-left: 0;
    }
  }
  .brand-logo {
    img {
      height: 50px;
      margin-top: 5px;
    }
  }
}

header.main-header {
  height: @height0;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  width: @width5;
  z-index: 0;
  h1 {
    font-weight: 700;
    margin-top: 0;
  }
  form {
    background: rgba(0, 0, 0, 0.55);
    padding: 40px;
  }
  input {
    border-color: @color2;
    color: @color2;
    margin: 0;
  }
  .white {
    h1 {
      font-weight: 200;
      text-transform: uppercase;
      span {
        font-weight: 900;
      }
    }
  }
  .btn {
    width: 230px;
  }
}

.parallax-container {
  height: @height0;
}

.cover.white {
  background-image: url(../media/graphics/cubes.png);
}

section {
  background-attachment: fixed;
  padding: 80px 0;
}

section#about {
  background-image: url(../media/graphics/texture-shapes-bg2.png);
}

section#features {
  background-image: url(../media/graphics/servbg3.png);
  .info-item {
    i {
      color: @color0;
      font-size: 20px;
      padding: 0 5px;
    }
    p {
      color: @color1;
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

section#examples {
  background-image: url(../media/graphics/cubes.png);
  p {
    a {
      color: @color1;
      font-weight: 900;
    }
  }
}

.landing-section-title {
  border-left: 5px solid @color0;
  border-right: 5px solid @color0;
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  margin-top: 0 !important;
  padding: 0 35px;
  text-transform: uppercase;
}

.info-item.tooltipped {
}

.info-item {
  i {
    color: #a4b9d5;
    font-size: 59px;
  }
}

footer.page-footer {
  padding: 0;
}

.modal.modal-sm {
  width: 420px;
}

.modal {
  h4 {
    border-bottom: 3px solid @color0;
    font-weight: 900;
    padding: 10px;
  }
}

#content {
  margin-bottom: 100px;
  position: relative;
}

.cv-menu {
  background: @color2;
  left: -60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: @width4;
  &:after {
    border-bottom: 70px solid transparent;
    border-right: 60px solid white;
    border-top: 0px solid transparent;
    content: " ";
    height: 70px;
    position: absolute;
    right: 0px;
    width: 0;
  }
  ul {
    margin: 0;
    li {
      a {
        color: @color1;
        display: block;
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        width: @width4;
        &:hover {
          opacity: 0.7;
        }
        img {
          width: 40px;
        }
      }
      ul.dropdown-content {
        li {
          a {
            height: auto;
            line-height: 40px;
            padding: 5px;
            text-align: center;
            width: @width5;
            img {
            }
          }
        }
      }
    }
  }
}

.resume-panel {
  background-color: @color2;
  padding: 50px;
}

#cv-header {
  background-image: url(../media/graphics/cubes.png);
  padding: 30px;
  img {
    display: inline-block;
    width: 220px;
  }
  h1 {
    font-weight: 900;
    line-height: 60px;
    margin: 30px 0 0;
    text-transform: uppercase;
    width: 50%;
    span {
      color: @color0;
    }
  }
  p {
    color: @color7;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    text-transform: lowercase;
  }
}

div#contact-section {
  margin-bottom: 40px;
}

#contact-section {
  p {
    color: @color7;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 10px 0 0;
    i {
      color: @color0;
    }
    i.fa.fa-facebook-square {
      color: @color5;
      font-size: 25px;
    }
    i.fa.fa-twitter-square {
      color: #4099FF;
      font-size: 25px;
    }
    i.fa.fa-linkedin-square {
      color: #007bb6;
      font-size: 25px;
    }
  }
}

.box {
  margin-bottom: 20px;
}

h2.resume-section-title {
  background: @color3;
  color: @color2;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

#cv-body {
  .chip {
    background: #283236;
    color: @color2;
    font-size: 16px;
  }
  p {
    color: #606060;
    font-weight: 400;
  }
}

.item {
  border-bottom: 1px solid @color6;
  padding: 10px;
  position: relative;
  &:hover {
    background: @color4;
    .fixed-action-btn.edit-cv-action {
      opacity: 1;
    }
  }
  h3 {
    color: @color1;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  a {
    color: #747474;
    display: inline-block;
    font-weight: 700;
    margin: 0 15px 0 0;
    i {
      color: @color0;
    }
  }
}

.fixed-action-btn.edit-cv-action {
  bottom: 10px;
  left: -50px;
  opacity: 0;
  position: absolute;
  right: auto;
  i {
    color: @color2;
  }
}

.fixed-action-btn {
  ul {
    bottom: 40px;
  }
}

.card-info {
  color: @color1;
  display: inline-block;
  font-weight: 500;
  padding: 5px;
  i {
    color: @color3;
  }
}

a.card-title {
  color: @color1;
  font-weight: 700 !important;
  &:hover {
    color: @color0;
  }
}

.card-action {
  .row {
    margin-bottom: 0 !important;
  }
}

a.user-chip {
  background: none;
  color: @color1 !important;
  font-weight: 700;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}