@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

html, body {
    width: 100%;
    height: 0;
}

body {
    background: #eee;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

body.cv {
    background-color: #c0e3e7;
    background-image: url(../media/graphics/texture-shapes-bg2.png);
}

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}*/

main {
    flex: 1 0 auto;
    opacity: 0;
}

/*********** Text *********/

p {
    font-size: 16px;
}

h2.section-title {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: #222;
    margin-top: 0;
}

h2.section-title:after {
    background-image: url(../media/graphics/simple-graphic.png);
    background-position: center;
    background-size: cover;
    content: " ";
    width: 130px;
    height: 10px;
    margin-top: 5px;
    display: block;
}

h3.info-title {
    font-weight: 900;
    text-transform: lowercase;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 0;
}

/*********** Classes *********/

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cover .valign-wrapper {
    height: 100%;
}

.content-left {
    padding-right: 40px !important;
    border-right: 1px solid #eee;
}

.content-right {
    padding-left: 40px !important;
}

.row {
    margin-bottom: 0;
}

/*********** Buttons *********/

.btn {
    /* border-radius: 3em; */
}

.btn-main {
    background-color: #9e2446;
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
    background-size: cover;
}

.btn.btn-main:hover {
    background-color: #5256af;
}

a.action-btn:after {
    content: ' ';
    background-image: url(../media/graphics/simple-graphic.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

a.action-btn {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.outro-banner a.action-btn,
.featured-banner a.action-btn {
    color: #fff;
    padding: 10px 20px 10px 0;
    font-size: 22px;
}

/*********** Forms *********/

/*********** Navigation *********/

nav.navbar.navbar-default {
    background: #ffffff;
    box-shadow: none;
    margin-top: -10px;
}

nav ul a {
    color: #222;
    font-weight: 400;
}

nav .brand-logo img {
    height: 50px;
    margin-top: 5px;
}

nav ul a.btn {
    margin-left: 0;
}

/*********** Header *********/

.main-header {
    width: 100%;
    height: 600px;
    margin-top: 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.parallax-container {
    height: 600px;
    width: 100%;
}

.main-header h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.main-header form {
    background: rgba(0, 0, 0, 0.55);
    padding: 40px;
}

.main-header input {
    margin: 0;
    border-color: #fff;
    color: #fff;
}

.main-header .white h1 {
    font-weight: 200;
    text-transform: uppercase;
}

.main-header .white h1 span {
    font-weight: 900;
}

.cover.white {
    padding-bottom: 100px;
}

.main-header .btn {
    width: 230px;
}

p.landing-section-subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #888;
    margin-top: 0;
}

p.landing-section-text {
    font-weight: 500;
    margin-bottom: 40px;
}

/*********** Sections *********/

section {
    padding: 80px 0;
    background-attachment: fixed;
}

.action-section {
    padding: 50px 0;
    background-color: #d9476a;
    background-image: url(../media/graphics/bgt1o.png);
    background-position: center;
}

.cover .action-section {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
}

section#team p a {
    font-weight: 500;
    color: #222;
}

section#featured {
    background-color: #eee;
    padding: 0;
}

section#showcase {
    background-color: #eee;
}

section#skills h2 {
    margin-top: 0;
}

section#team .col {
    margin-bottom: 40px;
}

section#team img.circle {
    width: 160px;
}

/*section#team .row:nth-of-type(2) .col:nth-of-type(1) img.circle,
section#team .row:nth-of-type(2) .col:nth-of-type(2) img.circle,
section#team .row:nth-of-type(2) .col:nth-of-type(3) img.circle {
    margin-left: -60px;
}

section#team .row:nth-of-type(3) .col:nth-of-type(1) img.circle,
section#team .row:nth-of-type(3) .col:nth-of-type(2) img.circle,
section#team .row:nth-of-type(3) .col:nth-of-type(3) img.circle {
    margin-left: 60px;
}*/

/*********** services *********/

.service h3 {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.service p {
    color: #8c9293;
    position: relative;
    margin: 0;
    padding-bottom: 30px;
    font-size: 14px;
}

.service i {
    width: 50px;
    height: 50px;
    color: #fff;
    background: #222222;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.service p:after {
    background-image: url(../media/graphics/simple-graphic.png);
    background-position: center;
    background-size: cover;
    content: " ";
    width: 30%;
    height: 6px;
    display: block;
    margin-top: 30px;
}

/*********** showcase *********/

.showcase-post h5 {
    font-size: 22px;
    font-weight: 700;
    white-space: normal;
}

.showcase-post p {
    font-size: 14px;
    font-weight: 500;
    color: #949494 !important;
    margin-bottom: 20px;
    white-space: normal;
}

.showcase-post a.action-btn {
    padding: 10px 20px 10px 0;
    display: inline-block;
    margin-bottom: 10px;
}

.showcase-post a.action-btn:after {
    height: 5px;
}

.showcase-row {
    overflow: auto;
    white-space: nowrap;
    padding: 20px 0 50px;
}

.showcase-post {
    width: 395px;
    display: inline-block;
    margin: 0 24px 0 0;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 21px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 31px 0px rgba(50, 50, 50, 0.2);
}

.showcase-row::-webkit-scrollbar {
    height: 10px;
    background-color: #ddd;
    border-radius: 3rem;
}

.showcase-row::-webkit-scrollbar-track {
    background-color: #ddd;
}

.showcase-row::-webkit-scrollbar-thumb {
    background-color: #000;
}

/*********** Footer *********/

footer.page-footer {
    padding: 0;
}

/*********** Modals *********/

.modal.modal-sm {
    width: 420px;
}

.modal h4 {
    font-weight: 900;
    padding: 10px;
    border-bottom: 3px solid #fff;
}

/*********** Slider *********/

.slider-slick .row {
    margin: 0;
    padding: 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
    opacity: 1 !important;
    color: #5c6bc0 !important;
}

.slick-next {
    right: -30px !important;
}

.slick-prev {
    left: -55px !important;
}

/*********** Slider *********/

.material-tooltip {
    background-color: #d92d41 !important;
}

.material-tooltip .backdrop {
    background-image: url(../media/graphics/bgt1o.png) !important;
    background-position: 0px 19px !important;
    background-size: cover !important;
    background-color: #d92d41 !important;
}

/*********** Preloader *********/

.preloader-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
    z-index: 1039;
}

.preloader-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
}

.preloader-top .action-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-bottom .action-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-top.open {
    height: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}

.preloader-bottom.open {
    height: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}

main.loaded {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 1s;
}

/* Colors */

.ubrium-dark {
    color: #504189 !important;
}
