<li class="sidebar-header">
	<span class="sidebar-header-title">Users</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Users
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("users") }}">List</a>
		</li>
	</ul>
</li>

<li class="sidebar-header">
	<span class="sidebar-header-title">Portfolio</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Portfolio
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("add-project") }}">Add Item</a>
		</li>
		<li>
			<a href="{{ Router.Create("projects") }}">Portfolio List</a>
		</li>
	</ul>
</li>