.iniAnim1 {
    opacity: 0;
    transform: rotateY(150deg);
}

.iniAnim2 {
    transform: scale3d(0.8,0.8,0.8);
    opacity: 0;
}

.iniAnim3 {
    transform:rotateX(90deg);
    opacity: 0;
}

.iniAnim4 {
    transform: scale3d(0.0,1,1);
    opacity: 0;
}

.iniAnim5 {
    transform: scale3d(1,0.0,1);
    opacity: 0;
}

.loadAnim1 {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: rotateY(0deg);
    opacity: 1;
}

.loadAnim2 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.loadAnim3 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform:rotateX(0deg);
    opacity: 1;
}

.loadAnim4 {
    transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.loadAnim5 {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

@-webkit-keyframes visible {
    0% {
        opacity: 0;
        margin-bottom: 100px;
    }
    20% {
        opacity: 0.2;
        margin-bottom: 80px;
    }
    40% {
        opacity: 0.4;
        margin-bottom: 60px;
    }
    60% {
        opacity: 0.6;
        margin-bottom: 40px;
    }
    80% {
        opacity: 0.8;
        margin-bottom: 20px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0;
    }
}

@-webkit-keyframes second {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes lightBtnAnimation {
    0% {
        right: 100%;
        left: 0;
    }
    20% {
        right: 50%;
        left: 0;
    }
    40% {
        right: 0;
        left: 0;
    }
    60% {
        left: 0;
        right: 0;
    }
    80% {
        left: 50%;
        right: 0;
    }
    100% {
        left: 100%;
        right: 0;
    }
}