@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,900');

body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

/* all around */

h2 {
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #6b7081;
    margin-top: 0;
}

h2:after {
    width: 15%;
    height: 5px;
    background: rgb(147, 215, 143);
    content: " ";
    display: block;
    margin: 20px auto 30px;
}

p {
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 15px;
    color: #6b7081;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

/* labels */

.label.label-light {
    background: #93d78f;
}

.label.label-dark {
    background: #3A4157;
}

/* buttons */

.btn.btn-light,
.btn.btn-dark {
    font-weight: 700;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.btn.btn-light {
    border: 3px solid #93d78f;
    color: #fff;
    background: #93d78f;
}

.btn.btn-dark {
    border: 3px solid #3A4157;
    color: #fff;
    background: #3A4157;
}

.btn.btn-light:hover {
    border: 3px solid #7bb477;
    background: #7bb477;
}

.btn.btn-dark:hover {
    border: 3px solid #545c7d;
    background: #545c7d;
}

/* navigation */

.one-nav {
    border: none;
    position: fixed;
    width: 100%;
    z-index: 1039;
    top: 0;
    background-color: rgba(58, 65, 87,0.75);
    background-image: url(../media/texture-shapes-bg.png);
    background-repeat: repeat;
    background-position: center;
}

.one-nav .nav-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #3A4157;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.one-nav.scrolled .nav-cover {
    width: 100%;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.one-nav .container {
    position: relative;
}

.one-nav .navbar-brand {
    padding: 5px;
    margin-top: 12px;
}

.one-nav .navbar-brand img {
    height: 40px;
}

.navbar-default.one-nav .navbar-nav > li > a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.navbar-default.one-nav .navbar-nav > li > a:before,
.navbar-default.one-nav .navbar-nav > li > a:after {
    position: absolute;
    width: 0;
    height: 2px;
    opacity: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    content: " ";
    -webkit-transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.navbar-default.one-nav .navbar-nav > li > a:before {
    top: 20px;
    background: #fff;
}

.navbar-default.one-nav .navbar-nav > li > a:after {
    bottom: 20px;
    background: #93d78f;
}

.navbar-default.one-nav .navbar-nav > li > a:hover:before,
.navbar-default.one-nav .navbar-nav > li > a:hover:after,
.navbar-default.one-nav .navbar-nav > .active > a:before,
.navbar-default.one-nav .navbar-nav > .active > a:after,
.navbar-default.one-nav .navbar-nav > .active > a:focus:before,
.navbar-default.one-nav .navbar-nav > .active > a:focus:after,
.navbar-default.one-nav .navbar-nav > .active > a:hover:before,
.navbar-default.one-nav .navbar-nav > .active > a:hover:after
{
    opacity: 1;
    width: 30px;
}

.navbar-default.one-nav .navbar-nav > .active > a,
.navbar-default.one-nav .navbar-nav > .active > a:focus,
.navbar-default.one-nav .navbar-nav > .active > a:hover {
    color: #fff;
    background: none;
}

.navbar-default.one-nav .navbar-nav > li > a.action {
    color: #fff;
    background: #93d78f;
    font-weight: 700;
}

/* header */

.landing {
    position: relative;
    height: 550px;
    width: 100%;

    background-image: url(../media/landing-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3b4259;
}

.landing-cover {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 65, 87,0.75);
    background-image: url(../media/texture-shapes-bg.png);
    background-repeat: repeat;
    background-position: center;
}

.landing-content {
    margin-top: 140px;
}

.landing-content h1 {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    position: relative;
    letter-spacing: -3px;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.landing-content p {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    margin: 10px 0 20px;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

/* section */

section.page-section {
    padding: 125px 0;
}

section.page-section.gray {
    background: rgb(238, 238, 238);
}

/* info section */

#info {
    position: relative;
}

.info-box h3 span {
    font-weight: 100;
    font-size: 50px;
    color: #93d78f;
}

.info-box h3 {
    font-weight: 900;
    color: #3A4157;
}

.info-box p span {
    font-weight: 700;
    color: #93d78f;
}

/* team section */

.team-member {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    position: relative;
    background-color: #3A4157;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-cover {
    position: absolute;
    background: #3A4157;
    top: 50%;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.team-member:hover .team-cover {
    opacity: 0.8;
    top: 0;
}

.member-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.member-info h5 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.member-info p {
    margin: 0;
    padding: 0;
    color: #c7c7c7;
}

.member-info p:after {
    width: 0;
    height: 3px;
    display: block;
    opacity: 0;
    background: #93d78f;
    content: " ";
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.team-member:hover .member-info p:after {
    width: 80px;
    opacity: 1;
}

.social-content {
    padding: 10px 0;
}

.social-content a {
    color: #93d78f;
    display: inline-block;
    padding: 5px 10px 5px 0;
    font-size: 18px;
}

/* trust element section */

section#trust-element {
    position: relative;
    padding: 0;
    background-image: url(../media/9.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(58, 65, 87);
}

section#trust-element .cover {
    padding: 100px 0;
    width: 100%;
    position: relative;
}

section#trust-element i {
    color: #fff;
    /* font-size: 40px; */
}

section#trust-element h4 {
    color: #fff;
    font-size: 70px;
    font-weight: 100;
    margin: 0 0 10px;
    padding: 10px;
    border-bottom: 1px dashed #fff;
}

section#trust-element p {
    color: #fff;
    margin: 0;
    font-weight: 700;
    text-transform: lowercase;
}

/* portfolio section */

article.portfolio-item {
    width: 100%;
    margin: 15px;
}

.image-holder {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #3a4157;
}

.item-image {
    width: 100%;
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

article.portfolio-item:hover .item-image {
    opacity: 0.2;
    transform: scale3d(1.8, 1.8, 1) rotate(25deg);
}

article.portfolio-item:hover .item-content {
    background: #93d78f;
}

article.portfolio-item:hover .item-content h4,
article.portfolio-item:hover .item-content p {
    color: #fff;
}

.item-content {
    background: #fff;
    padding: 25px 15px;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.item-content h4 {
    margin: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.item-content p {
    font-size: 90%;
    margin: 0;
    padding: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

/* blog section */

.blog-post {
    height: 500px;
    background: #3A4157;
    position: relative;
    padding: 0;
}

.blog-post:nth-child(odd) .blog-content {
    bottom: 0;
}

.blog-post:nth-child(even) .blog-content {
    top: 0;
}

.blog-post:nth-child(odd) figure {
    top: 0;
}

.blog-post:nth-child(even) figure {
    bottom: 0;
}

.blog-content {
    position: absolute;
    width: 100%;
    height: 250px;
    padding: 65px 40px;
    text-align: left;
}

.blog-content span.label.label-light,
.blog-content span.label.label-dark {
    padding: 4px 8px;
    font-weight: 700;
    font-size: 16px;
}

.blog-content h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.blog-content h5:after {
    width: 0;
    height: 3px;
    display: block;
    opacity: 0;
    background: #93d78f;
    content: " ";
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.blog-post:hover .blog-content h5:after {
    width: 80px;
    opacity: 1;
}

.blog-content p a {
    color: #bebdbd;
    font-weight: 700;
    font-size: 14px;
}

.blog-post figure {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background: #fff;
}

.blog-post figure img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1.8, 1.8, 1);
}

.blog-post:hover img {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}


/* services section */

#services {
    background: rgb(238, 238, 238);
}

#services .content-left {
    padding-right: 80px;
    border-right: solid 1px #d5d5d5;
}

#services .content-right {
    padding-left: 80px
}

.plan-box {
    background: #fff;
    height: 450px;
    position: relative;
    margin-top: 30px;
}

.plan-box-header {
    background: #3a4157;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.plan-box-header.best-value {
    background: #93d78f;
}

.plan-box h4 {
    font-size: 40px;
    font-weight: 900;
    color: #3a4157;
    border-bottom: 1px dashed #ddd;
    padding: 15px;
    margin: 0;
}

.plan-box h4 small {
    font-size: 40%;
}

.plan-box h4 sup {
    color: #93d78f;
}

.plan-box p {
    border-bottom: 1px dashed #ddd;
    padding: 10px;
    margin: 0;
}

.plan-box .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

/* subscribe section */

section#subscribe {
    background: #93d78f url(../media/servbg1.png) no-repeat center;
    position: relative;
}

section#subscribe .container {
    position: relative;
}

section#subscribe:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-image: url(../media/texture-shapes-bg.png);
}

section#subscribe h2,
section#subscribe p {
    color: #fff;
}

section#subscribe h2:after {
    background: #fff;
}

section#subscribe p {
    margin: 20px 0;
    font-weight: 700;
}

#subscribe .btn.btn-dark {
    padding: 12px;
}

.form-control.one-form {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 16px;
    height: 51px;
    border: none;
    width: 350px;
}

/* footer */

footer {
    padding: 30px;
    width: 100%;
    background-color: #3A4157;
    background-image: url(../media/texture-shapes-bg.png);
    background-repeat: repeat-x;
    background-position: center;
}

footer img {
    height: 60px;
}

.footer-content {
    padding: 10px 0;
    border-top: 1px dashed rgba(255,255,255,0.3);
}

ul.footer-menu li {
    display: inline-block;
}

ul.footer-menu {
    padding: 0;
}

ul.footer-menu li a {
    padding: 5px;
    color: #fff;
    font-weight: 300;
}

/* licence Modal */
#licenceModal h4{
    color: #93d78f;
}

#licenceModal p, i {
    color: #3a4157;
}

