@media screen and (min-width: 320px) and (max-width: 440px) {

    h2 {
        font-size: 30px;
        font-weight: 300;
        text-align: left;
    }

    h2:after {
        margin: 20px 0;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 5px;
    }

    .container {
        padding: 0 30px;
    }

    .landing-content h1 {
        font-size: 25px;
        letter-spacing: 0;
    }

    .one-nav {
        height: 80px;
        position: absolute;
    }

    .landing-content p {
        font-size: 15px;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

    .form-control.one-form {
        width: 100%;
    }

    .blog-post {
        margin-bottom: 15px;
    }

    .blog-post:nth-child(odd) .blog-content {
        bottom: 0;
        top: auto;
    }

    .blog-post:nth-child(even) .blog-content {
        bottom: 0;
        top: auto;
    }

    .blog-post:nth-child(odd) figure {
        top: 0;
        bottom: auto;
    }

    .blog-post:nth-child(even) figure {
        top: 0;
        bottom: auto;
    }

    #services .content-left {
        padding-right: 15px;
    }

    #services .content-right {
        padding-left: 15px;
    }

    section#trust-element h4 {
        font-size: 30px;
        font-weight: 300;
    }

    ul.footer-menu li {
        display: block;
    }

    ul.footer-menu li a {
        padding: 15px 0;
        display: block;
        position: relative;
        text-align: left;
    }

    ul.footer-menu li a:before {
        position: absolute;
        width: 20px;
        height: 2px;
        background: #fff;
        left: 20px;
        content: " ";
        bottom: 0;
    }

    ul.footer-menu li a:after {
        position: absolute;
        width: 20px;
        height: 2px;
        background: #93d78f;
        left: 0;
        content: " ";
        bottom: 0;
    }

    .team-cover {
        top: 65%;
        opacity: 0.8;
    }

    .info-box {
        text-align: left;
    }

    /* animation */

    .iniAnim1 {
        opacity: 1;
        transform: rotateY(0deg);
    }

    .iniAnim2 {
        transform: scale3d(1,1,1);
        opacity: 1;
    }

    .iniAnim3 {
        transform:rotateX(0deg);
        opacity: 1;
    }

    .iniAnim4 {
        transform: scale3d(1,1,1);
        opacity: 1;
    }

    .iniAnim5 {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}