<form method="post" enctype="multipart/form-data" class="form-bordered">
	<div class="form-group">
		<label for="name">Title</label>
		<input type="text" id="title" name="title" class="form-control" placeholder="Enter Title"
			   value="{{ model.Project.Title }}" required/>
	</div>
	<div class="form-group">
		<label for="name">Subtitle</label>
		<input type="text" id="subtitle" name="subtitle" class="form-control" placeholder="Enter Subitle"
			   value="{{ model.Project.Subtitle }}" required/>
	</div>
	<div class="form-group">
		<label for="lastName">Description</label><br>
		<input type="text" id="description" name="description" class="form-control" placeholder="Enter Description"
			   value="{{ model.Project.Description }}" required/>
	</div>
	<div class="form-group">
		<label for="salutation">Url</label><br>
		<input type="text" id="url" name="url" class="form-control" placeholder="Enter project URL"
			   value="{{ model.Project.Url }}" required/>
	</div>

	<div class="form-group">
		<label for="picture">Image</label>
		<input type="file" id="image" name="image" class="form-control"/>
	</div>
	<div class="form-group form-actions">
		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save
		</button>
		<button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
		</button>
	</div>
</form>