<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Login | Admin</title>
	<meta name="description"
		  content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest. This is the demo of ProUI! You need to purchase a license for legal use!">
	<meta name="author" content="pixelcave">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png">
	<link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
	<link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
	<link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
	<link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
	<link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
	<link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
	<link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
	<link rel="apple-touch-icon" href="img/icon180.png" sizes="152x180">
	<link rel="stylesheet" href="Theme/css/bootstrap.min.css">
	<link rel="stylesheet" href="Theme/css/plugins.css">
	<link rel="stylesheet" href="Theme/css/main.css">
	<link rel="stylesheet" href="Theme/css/themes.css">
	<script src="Theme/js/vendor/modernizr-respond.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3">
			<div id="login-container">
				<div class="login-title text-center">
					<img style="width: 300px;" src="Theme/Media/ubrium.png"/>
				</div>
				<div class="block push-bit">
					<form method="post" id="form-login" class="form-horizontal">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="gi gi-user"></i></span>
									<input type="text" id="login-email" name="email"
										   class="form-control input-lg" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
									<input type="password" id="login-password" name="password"
										   class="form-control input-lg" placeholder="Password">
								</div>
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-xs-4">
								<label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
									<input type="checkbox" id="login-remember-me" name="rememberMe"
										   checked>
									<span></span>
								</label>
							</div>
							<div class="col-xs-8 text-right">
								<button type="submit" class="btn btn-sm btn-primary"><i
											class="fa fa-angle-right"></i> Login to Dashboard
								</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 text-center">
								<a href="javascript:void(0)" id="link-reminder-login">
									<small>Forgot password?</small>
								</a>
							</div>
						</div>
					</form>
				</div>

				<footer class="text-muted text-center">
					<small><span id="year-copy"></span> &copy; <a href="">Ubrium Framework Admin</a></small>
				</footer>

			</div>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>
<script src="Theme/js/vendor/bootstrap.min.js"></script>
<script src="Theme/js/plugins.js"></script>
<script src="Theme/js/app.js"></script>
<script src="Theme/js/pages/login.js"></script>
<script>$(function () {
		Login.init();
	});</script>
</body>
</html>